@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .mobileNavBar {
        @apply fixed flex-row z-10 bg-inherit left-0 bottom-0 w-full justify-around;
    }
}

@layer base {
    .material-symbols-outlined-fill {
        font-variation-settings: 'FILL' 1;
    }
    ::-webkit-scrollbar {
        width: 0.3em;
    }
    ::-webkit-scrollbar-thumb {
        background-color: gray;
        border-radius: 1em;
    }
    * {
        transition: 50ms;
    }
    .double-grid {
        display: grid;
        grid-template-columns: min-content 1fr;
    }
    .body-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
        column-gap: 2.5em;
    }
    @media not all and (min-width: 768px) {
        .body-grid {
            grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
        }
     }
}