@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .material-symbols-outlined-fill {
        font-variation-settings: 'FILL' 1;
    }
    ::-webkit-scrollbar {
        width: 0.3em;
    }
    ::-webkit-scrollbar-thumb {
        background-color: gray;
        border-radius: 1em;
    }
    .double-grid {
        display: grid;
        grid-template-columns: min-content 1fr;
    }
    .body-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
        column-gap: 2.5em;
    }
}